<section>
<div class="container">

	<div class="hero-image-box">
		<img class="hero-image" src="images/heroimages/heroimage_1.jpg" alt="">
		<img class="hero-image active" src="images/heroimages/heroimage_2.jpg" alt="">
		<img class="hero-image active" src="images/heroimages/heroimage_3.jpg" alt="">
		<img class="hero-image active" src="images/heroimages/heroimage_4.jpg" alt="">
		<img class="hero-image active" src="images/heroimages/heroimage_5.jpg" alt="">
		<img class="hero-image active" src="images/heroimages/heroimage_6.jpg" alt="">
	</div>


	
		</div>
	</div>

	<div class="container">
		<hr class="hr">
	</div>



		<div class="container">
		<div class="services">
			<h1>OUR SERVICES</h1>
			<p>Regardless of what kind of pet that you have, you can probably find a specialized store that caters to that kind of pet. There are actually benefits and also downsides to purchasing at these kinds of shops.</p>
		</div>
			<div class="column col-lg-3 col-md-6 col-sm-12 serr">
				<img class="icon" src="images/icons/i_bone_g.svg" alt="">
				<img class="icon active" src="images/icons/i_bone_r.svg" alt="">
				<h2>PET'S FOOD</h2>
				<p>One of several noticeable benefits is  these shops may have a wide selection of items for a specific type of pet, which makes it very possible that you’ll find things you need.</p>
			</div>

			<div class="column col-lg-3 col-md-6 col-sm-12 serr">
				<img class="icon" src="images/icons/i_crew_g.svg" alt="">
				<img class="icon active" src="images/icons/i_crew_r.svg" alt="">
				<h2>TRANDING</h2>
				<p>You can find web based pet shops that offer just about anything you can actually require. There are actually that standard pet shops as well as specialized shops on the internet.</p>
			</div>

			<div class="column col-lg-3 col-md-6 col-sm-12 serr">
				<img class="icon" src="images/icons/i_star_g.svg" alt="">
				<img class="icon active" src="images/icons/i_star_r.svg" alt="">
				<h2>BRANDING</h2>
				<p>The web based pet shop is now a really common choice for a number of various points. One of the greatest and also most obvious points is that the consumer does not need to travel anywhere to obtain what they need. </p>
			</div>

			<div class="column col-lg-3 col-md-6 col-sm-12 serr">
				<img class="icon" src="images/icons/i_gear_g.svg" alt="">
				<img class="icon active" src="images/icons/i_gear_r.svg" alt="">
				<h2>TOOLS</h2>
				<p>By picking the right kind of pet shop, you are likely to ensure it is more likely that you’ll love your purchasing experience and also be able to get everything that you need effortlessly.</p>
			</div>
		</div>
	</section>	